@page "/404"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Stranica nije pronađena</PageTitle>

<div class="d-flex flex-column align-center justify-center" style="height: 80vh;">
    <MudText Typo="Typo.h2" Color="Color.Dark">404</MudText>
    <MudText Typo="Typo.subtitle1">Stranica nije pronađena. Molimo provjerite URL ili se vratite na <a class="mud-primary-text" href="/">početnu stranicu</a>.</MudText>
</div>