@page "/Account/ForgotPasswordConfirmation"
@using FireSync.Components.Layout
@layout EmptyLayout

<PageTitle>E-mail za resetiranje lozinke poslan</PageTitle>

<div class="full-height-centered light-gray-background">
    <MudText Typo="Typo.h4">E-mail poslan</MudText>
    <MudText Typo="Typo.subtitle1" Class="mt-1 mb-10">Provjerite svoj e-mail. Poslali smo vam upute za resetiranje lozinke.</MudText>
</div>
