@page "/Account/InvalidPasswordReset"
@using FireSync.Components.Layout
@layout EmptyLayout

<PageTitle>Nevažeći link za resetiranje lozinke</PageTitle>

<div class="full-height-centered light-gray-background">
    <MudText Typo="Typo.h4">Nevažeći link</MudText>
    <MudText Typo="Typo.subtitle1" Class="mt-1 mb-10">Link za resetiranje lozinke nevažeći je ili je istekao.</MudText>
</div>
