@page "/Account/ResetPasswordConfirmation"
@using FireSync.Components.Layout
@layout EmptyLayout

<PageTitle>Lozinka resetirana</PageTitle>

<div class="full-height-centered light-gray-background">
    <MudText Typo="Typo.h4">Lozinka resetirana</MudText>
    <MudText Typo="Typo.subtitle1" Class="mt-1 mb-10">
        Vaša uspješno je resetirana. 
        Možete se <a href="Account/Login" class="mud-primary-text">prijaviti</a> koristeći novu lozinku.
    </MudText>
</div>

